<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- {% if request.user.is_authenticated %}
  <script>
    window.location.href = '{% url "account:profile" %}';
  </script>
  {% endif %} -->
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="./Images/login icon.jpg" alt="">
        <div class="text">
          <span class="text-1">Welcome Back!</span>
          <span class="text-2">Let's get connected</span>
        </div>
      </div>
    </div>
    <div class="forms">
      <div class="form-content">
        <div class="login-form">
          <div class="uppertext">Anima 95!</div>
          <div class="title">Login</div>
          <form action="{% url 'login' %}" method="post">
            <!--  {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-primary" role="alert">
              Error: Username or Password not correct!
            </div>
            {% endif %} -->
            
            <!-- <label class="label">{{ form.email.label}}</label>
            {{ form.email}}
            
            <label class="label">{{ form.password.label}}</label>
            {{ form.password}} -->
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Enter your password" required>
              </div>

          </form>
          <div class="text forgot"><a href="{% url 'password_reset' %}">Forgot your password?</a></div>
          <div class="button input-box">
            <input type="submit" value="Get Started">
          </div>
          <div class="text sign-up-text">Don't have an account? <label class="signup"><a href="index.html">Sign up</a></label></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

